<mat-toolbar>
  <mat-toolbar-row>
    <a href="./">
      <button mat-icon-button>
        <mat-icon>home</mat-icon>
      </button>
    </a>

    <button mat-button color="primary">Men</button>
    <button mat-button color="primary">Women</button>
    <button mat-button color="primary">Kids</button>

    <!-- <h1>Wear Customs</h1> -->

    <span class="spacer"></span>
    <button mat-button mat-fab color="primary">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <div *ngIf="auth.authState else showLogin">
      <!-- <span>Hello {{user.displayName}}!</span> -->
      <button mat-button color="accent">
        <mat-icon>person</mat-icon>
      </button>
    </div>
    <ng-template #showLogin>
      <button mat-button (click)="openLoginDialog()">
        <mat-icon>login</mat-icon>
      </button>
    </ng-template>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="auth.logOut()" *ngIf="auth.authState">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>

      <button mat-menu-item (click)="contactAlert()">
        <mat-icon>contact_support</mat-icon>
        <span>Contact</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
